.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 105px auto 69px;
    max-width: 1140px;
}

.main__title-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.main__title {
    width: 362px;
    color: #E4E5EA;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    margin: 0 auto 0 0;
}

.main__colored-title {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90deg, #FCB045 36.99%, #FF3F78 100%);
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-align: left;
    margin: 0 auto 30px 0;
}

.main__text {
    width: 275px;
    text-align: left;
    color: #E4E5EA;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 auto auto 0;
}

.main__gifts-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 0;
    padding: 0;
}

.main__gifts-title {
    width: 300px;
    color: #E4E5EA;
    text-align: right;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 0 40px auto;
    background-image: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
    background-clip: text;
    -webkit-background-clip: text;
}

.main__gifts-span {
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-family: Montserrat, Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.9px;
    text-transform: uppercase;
}

.main__gift-container {
    display: grid;
    grid-template-columns: repeat(2, 140px);
    grid-template-rows: repeat(2, 68px);
    column-gap: 31px;
    row-gap: 30px;
    margin: 0 0 61px auto;
    padding: 0;
}

.main__gift-span {
    display: none;
    visibility: hidden;
}

.mobile {
    display: none;
    visibility: hidden;
}

.desktop {
    display: block;
    visibility: visible;
}

.main__gift-title {
    color: #E4E5EA;
    text-align: right;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    margin: 0 0 6px auto;
    width: 140px;
}

.main__gift-text {
    color: #E4E5EA;
    text-align: right;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.main__button {
    color: #E4E5EA;
    text-align: center;
    justify-self: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    box-shadow: none;
    border: none;
    width: 262px;
    height: 61px;
    background-color: #4077F3;
}

@media screen and (max-width: 1200px) {
    .main {
        display: flex;
        flex-direction: column;
        margin: 0 auto 0;
        padding: 40px 0 0;
        max-width: 320px;
    }

    .main__title-container {
        margin-bottom: 45px;
    }

    .main__title {
        width: 285px;
        font-size: 36px;
        margin: 0 34px 0 14px;
    }

    .main__colored-title {
        font-size: 36px;
        margin: 0 34px 15px 14px;
    }

    .main__text {
        width: 280px;
        margin: 0 34px 0 14px;
    }

    .main__gifts-container {
        align-items: start;
    }

    .main__gifts-title {
        font-size: 18px;
        margin: 0 auto 20px 14px;
        text-align: left;
        width: 290px;
    }

    .main__gifts-span {
        text-transform: lowercase;
        font-weight: 700;
    }

    .main__gift-container {
        grid-template-columns: 125px 150px;
        grid-template-rows: repeat(2, 17px);
        column-gap: 10px;
        row-gap: 14px;
        margin: 0 auto 59px 14px;
    }

    .main__flex {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .main__gift-span {
        display: block;
        visibility: visible;
        background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
        width: 10px;
        height: 1px;
        margin-right: 5px;
    }

    .main__gift-title {
        font-size: 13px;
        letter-spacing: 0.65px;
        text-align: left;
        margin: 0;
    }

    .mobile {
        display: block;
        visibility: visible;
    }

    .desktop {
        display: none;
        visibility: hidden;
    }

    .main__gift-text {
        display: none;
        visibility: hidden;
    }

    .main__button {
        display: none;
        visibility: hidden;
    }
}