.header {
    display: flex;
    flex-direction: row;
    margin: 46px auto 0;
    max-width: 1140px;
}

.header__logo-container {
    display: grid;
    grid-template-columns: 35px 97px;
    grid-template-rows: repeat(2, 24px);
    row-gap: 10px;
    column-gap: 8px;
    margin: 0 52px 0 0;
}

.header__logo-1 {
    margin: 0;
}

.header__logo-2 {
    margin: 0;
    align-self: center;
}

.header__text {
    grid-column: span 2;
    text-align: left;
    margin: 0;
    color: #E4E5EA;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.header__navigation {
    margin: 0 84px 0 0;
}

.header__link {
    color: #E4E5EA;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 30px 0 0;
}


.header__tel {
    color: #E4E5EA;
    text-align: right;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 17px 0 0;
    min-width: 143px;
}

.header__images {
    width: 20px;
    height: 20px;
    margin: 0 0 0 30px;
}